/*ーーーーーーーーーーヘッダーーーーーーーーーーー*/

header {
    width: 100%;
    display: block;
    padding: 10px 30px 30px 30px;
    /*↑→↓←*/
    background-color: rgb(77, 77, 77);
}

ul.head-menu {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

ul.head-menu li {
    display: table-cell;
    min-width: 50px;
}

ul.head-menu li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    border-right: 1px solid rgb(255, 255, 255);
    /*□の右の棒だけ*/
}

ul.head-menu li.current {
    border: 3px solid rgb(255, 255, 255);
}

ul.head-menu li.current a {
    color: rgb(255, 117, 117);
}

ul.head-menu li a:hover {
    color: #E71B1F;
}


/*ーーーーーーーーーーメインーーーーーーーーーー*/

body {
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    background: rgb(255, 249, 222)
}

.main-area {
    /*すべてのメイン要素*/
    text-align: center;
}

.zoom {
    padding: 10px 100px 10px 100px;
    animation: animationZoom1 2.5s ease-in-out forwards;
    /*animationZoom1という名前のキーフレームを5秒かけて拡大、forwardsで終了時に設定値のままにする*/
}

@keyframes animationZoom1 {
    100% {
        transform: scale(0.7)
    }
    /*倍率*/
}

.top-message {
    text-align: center;
    padding: 10px 30px 50px 30px;
    margin-top: -50px;
    animation: textCutin 2s ease-in-out both;
    /*both:開始時、終了時のスタイルがアニメ開始前後に適用*/
    animation-delay: 2.5s;
    /*↑→↓←*/
}

@keyframes textCutin {
    0% {
        opacity: 0;
        /*透明*/
    }
    100% {
        opacity: 1;
        /*不透明*/
    }
}


/*ーーーーーーーーーーフッダーーーーーーーーーーー*/

footer {
    display: block;
    padding: 10px;
    background-color: rgb(77, 77, 77);
}

p.copyright {
    color: #ffffff;
    text-align: right;
}