.all {
    min-height: 100vh;
    /*ブラウザの高さ100％*/
    position: relative;
    /*←相対位置*/
    padding-bottom: 200px;
    /*←footerの高さ*/
    box-sizing: border-box;
    /*←全て含めてmin-height:100vhに*/
}


/*ーーーーーーーーーーヘッダーーーーーーーーーーー*/

header {
    width: 100%;
    display: block;
    padding: 10px 10px 10px 10px;
    /*↑→↓←*/
    background-color: rgb(77, 77, 77);
    border-bottom: 10px solid rgb(37, 37, 37);
}

ul.head-menu {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}

ul.head-menu li {
    display: table-cell;
    min-width: 50px;
}

ul.head-menu li a {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    border-right: 1px solid rgb(255, 255, 255);
    /*□の右の棒だけ*/
}

ul.head-menu li.current {
    border: 3px solid rgb(255, 255, 255);
}

ul.head-menu li.current a {
    color: rgb(255, 117, 117);
}

ul.head-menu li a:hover {
    color: #E71B1F;
}


/*ーーーーーーーーーーメインーーーーーーーーーー*/

body {
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    background: rgb(255, 249, 222)
}

.main-area {
    /*すべてのメイン要素*/
    text-align: center;
}


/*ーーーーーーメインートップページ用ーーーーーー*/

.zoom {
    padding: 0px 100px 0px 100px;
    animation: animationZoom1 2.5s ease-in-out forwards;
    /*animationZoom1という名前のキーフレームを5秒かけて拡大、forwardsで終了時に設定値のままにする*/
}

@keyframes animationZoom1 {
    100% {
        transform: scale(0.7)
    }
    /*倍率*/
}

.top-message {
    text-align: center;
    padding: 0px 30px 50px 30px;
    margin-top: -50px;
    animation: textCutin 2s ease-in-out both;
    /*both:開始時、終了時のスタイルがアニメ開始前後に適用*/
    animation-delay: 2.5s;
    /*↑→↓←*/
}

@keyframes textCutin {
    0% {
        opacity: 0;
        /*透明*/
    }
    100% {
        opacity: 1;
        /*不透明*/
    }
}


/*ーーーーーーーメインーprofile用ーーーーーーーー*/

.section {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-bottom {
    margin: 50px;
}

.p-box {
    text-align: left;
    padding: 10px;
}

.p-box h2 {
    border-bottom: 2px solid rgb(61, 57, 57);
}

.p-box p {
    padding: 10px;
    border-bottom: 2px solid rgb(61, 57, 57);
}


/*ーーーーーーーーーーフッダーーーーーーーーーーー*/

footer {
    width: 100%;
    display: block;
    padding: 10px 30px 30px 10px;
    background-color: rgb(77, 77, 77);
    border-top: 10px solid rgb(37, 37, 37);
    position: absolute;
    /*←絶対位置*/
    bottom: 0;
    /*下に固定*/
}

.fa-twitter {
    background: #00a1e9;
}

.fa-github {
    background: #313131;
}

.link i {
    padding: 2px;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}

.link a {
    padding: 10px;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}

.copyright {
    color: #ffffff;
    text-align: right;
}