* {
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    height: auto;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(5, 160, 160);
}

header .headline {
    padding: 15px 15px;
    text-align: left;
    font-size: 32px;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
    /*メニューの上の棒*/
}

.menu-btn span:after {
    top: 8px;
    /*メニューの下の棒*/
}

.nav {
    text-align: right;
    /*動いてない*/
}

.nav-list {
    display: flex;
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    padding: 10px;
    margin: 0 20px;
}

main {
    width: 100%;
    text-align: center;
}

footer {
    width: 100%;
    height: 120%;
    text-align: center;
    padding: 50px 0;
    background-color: #cab643;
}

.footer-text {
    color: #fff;
}

ul.footer-menu li {
    display: inline;
}