* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    -webkit-text-size-adjust: 100%;
    position: relative;
    background-color: rgb(231, 226, 201)
}

header {
    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    padding: 15px 0;
    margin: 0;
    text-align: left;
    background-color: lightseagreen;
}

.headline {
    width: 100%;
    padding: 15px 15px;
    text-align: left;
    font-size: 32px;
    color: #fff;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 15px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: rgba(255, 255, 255, 0);
    ;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
    /*メニューの上の棒の位置*/
}

.menu-btn span:after {
    top: 8px;
    /*メニューの下の棒の位置*/
}

#menu-btn-check:checked~.menu-btn span {
    /*同じ階層にある要素同士であれば隣接しなくても後者にもスタイル適応*/
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時はハンバーガーメニューの真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
    /*チェックボックスを非表示*/
}

.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: darkslategray;
    transition: all 0.8s;
}

#menu-btn-check:checked~.menu {
    left: 85%;
    /*メニューを画面内へ*/
}

.menu-list {
    padding: 70px 10px 0;
}

.menu-list-item {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-list-item a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-list-item a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}


/*--本文--*/

main {
    width: 100%;
    text-align: center;
}

.under-header {
    width: 100%;
    position: absolute;
    top: 108px;
    z-index: -1;
}

.description {
    margin: 50px;
}

.logo {
    width: 500px;
}

.topic-title {
    margin: 20px;
}

.topic-nav-list-item {
    margin: 0px;
    display: inline-flex;
}

.topic-nav-list-item-content {
    width: 350px;
    height: 350px;
    object-fit: cover;
    background-color: rgb(248, 248, 248);
}

.topic-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.topic-nav-list-item-content-title {
    margin: 10px;
    padding: 10px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

footer {
    width: 100%;
    height: 120%;
    text-align: center;
    padding: 50px 0;
    color: #fff;
    background-color: lightseagreen;
}

.footer-menu li {
    display: inline;
}